 .cem-content:focus {
    outline: none;
}

.cem-wrapper {
    display: inline-block; 
}

.cem-content {
    padding: 4px;
}

.cem-content:hover {
    border: 1px solid #efefef;
    padding: 3px;
    background: #FFFFFF;
}

.cem-content:focus {
    border: 1px solid #eeeeee;
    padding: 3px;
    background: #fcfcfc;
}

.cem-toolbar {
    display: none;
}

.cem-savechanges {
    display:inline;
    float: right;
    width: 24px;
    height: 24px;
    background: #eeeeee url('contenteditablemvc/tick.png') no-repeat center;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border-left: 1px  solid #eeeeee;
    border-bottom: 1px  solid #eeeeee;
}
.cem-discardchanges {
    display:inline;
    float: right;
    width: 24px;
    height: 24px;
    background: #eeeeee url('contenteditablemvc/cross.png') no-repeat center;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px  solid #eeeeee;
    border-bottom: 1px  solid #eeeeee;
}