.cem {
    
}

.cem-content:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
}
  
.cem-content:hover, .cem-content:focus {
  background: #FFFFD3;
}

.cem-content:focus {
  padding: 5px;
}

.cem-content:focus:after {
  content: '';
}

.cem-wrapper {
    
}

.cem-wrapper:hover {
    padding: 4px;
    border: 1px solid #cccccc;
}

.cem-savechanges {
    display: none;
}

.cem-discardchanges {
    display: none;
}

.cem-savechanges.cem-editing {
    display: inline-block;
    width: 16px;
    height: 12px;
    padding: 4px;
    background: url('contenteditablemvc/tick.png') no-repeat top left;
}

.cem-discardchanges.cem-editing {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 4px;
    background: url('contenteditablemvc/cross.png') no-repeat top left;
}